<div class="container">
  <app-card cardImageId="1" cardTitle="Test1" cardText="Test Component"></app-card>
  <app-card cardImageId="2" cardTitle="Test2" cardText="Test Component"></app-card>
  <app-card cardImageId="3" cardTitle="Test3" cardText="Test Component"></app-card>
  <app-card cardImageId="4" cardTitle="Test4" cardText="Test Component"></app-card>
  <app-card cardImageId="5" cardTitle="Test5" cardText="Test Component"></app-card>
  <app-card cardImageId="6" cardTitle="Test6" cardText="Test Component"></app-card>
  <app-card cardImageId="7" cardTitle="Test7" cardText="Test Component"></app-card>
  <app-card cardImageId="8" cardTitle="Test8" cardText="Test Component"></app-card>
  <app-card cardImageId="9" cardTitle="Test9" cardText="Test Component"></app-card>
</div>
