<div class="container">
  <div class="card-content">
    <div *ngFor="let card of pagedCards">
      <app-card [cardImageId]="card.cardImageId" [cardTitle]="card.cardTitle" [cardText]="card.cardText"></app-card>
    </div>
  </div>

  <div class="pagination">
    <ul class="buttons-pagination">
      <button class="previous-page" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <li class="page-item current-page">{{ currentPage }}</li>
      <button class="next-page" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </ul>
  </div>
</div>
