<div class="pagination">
  <ul class="buttons-pagination">
    <app-action-button action="previous" actionAbrev="Prev" selection="disable"></app-action-button>
    <app-page-button pageId="1" selection="active"></app-page-button>
    <app-dots-button></app-dots-button>
    <app-page-button pageId="5"></app-page-button>
    <app-page-button pageId="6"></app-page-button>
    <app-dots-button></app-dots-button>
    <app-page-button pageId="10"></app-page-button>
    <app-action-button action="next" actionAbrev="Next"></app-action-button>
  </ul>
</div>

