<div class="content-container">
  <app-cards-container itemLeft="1" cardLeftContent="Texto da Imagem da esquerda" itemMiddle="2" cardMiddleContent="Texto da imagem do centro" itemRight="3" cardRightContent="Texto da imagem da direita"></app-cards-container>
  <app-cards-container itemLeft="4" cardLeftContent="Texto da Imagem da esquerda" itemMiddle="5" cardMiddleContent="Texto da imagem do centro" itemRight="6" cardRightContent="Texto da imagem da direita"></app-cards-container>
  <app-cards-container itemLeft="7" cardLeftContent="Texto da Imagem da esquerda" itemMiddle="8" cardMiddleContent="Texto da imagem do centro" itemRight="9" cardRightContent="Texto da imagem da direita"></app-cards-container>
  <app-buttons-container></app-buttons-container>
</div>
